* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;    
    color: rgba(6, 18, 36, 0.9);
    background-color: #fff;
}

ul, li {
    display: block;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: rgba(6, 18, 36, 0.9);
}

h1 {
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

button {
    cursor: pointer;
    transition: all 0.3s ease;
}

.container {
    width: 1232px;
    margin: 0 auto;
}

.wrapper-header {
    padding-top: 39px;
    display: flex;
    align-items: center;
}

.block-logo {
    width: 130px;
    height: 40px;
}

.ul__header-menu {
    display: flex;
    align-items: center;
    margin-left: 182px;
}

.li__header-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    margin-left: 36px;
}

.li__header-menu:first-child {
    margin-left: 0;
}

.li__header-menu:hover {
    opacity: 0.7;
}

.element__header-menu {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.19em;
    text-transform: uppercase;
}

.arrow__header-menu {
    width: 10px;
    height: 6px;
    margin-left: 4px;
    background: url(../img/arrow-menu.png) no-repeat;
    background-size: cover;
}

.up-arrow__header {
    background: url(../img/arrow-menu__header-up.png) no-repeat;
}

.ul-our {
    background-color: #EFF6FD;
    z-index: 2;
    position: absolute;
    margin-left: 360px;
    display: none;
}

.ul-our__active {
    display: block;
}

.ul-number {
    background-color: #EFF6FD;
    z-index: 2;
    position: absolute;
    margin-left: 182px;
    display: none;
}

.ul-number__active {
    display: block;
}

.li-our {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.li-our:hover {
    background: #E2EDFB;
}

.element-our {
    letter-spacing: 0.19em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.btns-header {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.btn-white {
    background: none;
    border: 2px solid #1064E5;
    border-radius: 43px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.19em;
    width: 110px;
    height: 40px;
    color: rgba(6, 18, 36, 0.9);
}

.btn-white:hover {
    background: #1064E5;
    color: #fff;
}

.btn-blue {
    border: none;
    background: #1064E5;
    border-radius: 45px;
    height: 40px;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.btn-blue:hover {
    background: none;
    border: 2px solid #1064E5;
    color: rgba(6, 18, 36, 0.9);
}

.btn-blue.btn-registration {
    width: 189px;
    margin-left: 24px;
}

.language {
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.language:hover {
    opacity: 0.7;
}

.element__language {
    letter-spacing: 0.19em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.arrow__language {
    margin-left: 6px;
}

/*  */

#sidebar {
    /* margin-top: -35px;    */
    position: fixed;
    width: 450px;
    top: 10px;
    z-index: 22;
    height: 100vh;
    border-radius: 5px 0 0 0;
    background-color: #fff;
    right: -450px;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    transition: all 0.6s ease;
    display: none;
}

#sidebar.active {
    right: 0;
    overflow-y: auto;
}

.burger {
    margin-top: 25px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    background: url(../img/burger.png) no-repeat;
    position: absolute;
    right: 477px;
}

.container__sidebar {
    padding: 35px 44px;
}

.wrapper-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger__close {
    cursor: pointer;
    padding: 2px;
    width: 21px;
    height: 21px;
    background: url(../img/close-burger.png) no-repeat;
}

.line__sidebar {
    margin-top: 21px;
}

.ul-sidebar__menu-contact {
    margin-top: 21px;
}

.li-sidebar__menu-contact:not(:first-child) {
    margin-top: 14px;
}

.arrow__header-menu__sidebar {
    display: none;
}

.btn-ul-sidebar__menu-contact {
    margin-top: 20px;
}

.wrapper-sidebar__btn {
    padding: 23px 19px 0 19px;
}

.btn-white__sidebar {
    width: 110px;
    height: 40px;
}

.btn-blue__sidebar {
    width: 189px;
    height: 40px;
}

.btn-line__sidebar {
    margin-top: 20px;
}

.ul-sidebar__menu {
    padding-left: 13px;
    margin-top: 13px;
}

.li-sidebar__menu:not(:first-child) {
    margin-top: 20px;
}

.element-sidebar__menu {
    text-transform: uppercase;
    letter-spacing: 0.19em;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease;
}

.element-sidebar__menu:hover {
    opacity: 0.6;
}

.ul-language__sidebar {
    margin-top: 21px;
    padding-left: 13px;
    display: flex;
}

.li-language__sidebar:not(:first-child) {
    margin-left: 35px;
}

.element-language__no-active {
    font-weight: 400;
}

.error {
    padding: 74px 0 30px 0;
    background: url(../img/error__img/bg-nlo.png) no-repeat;
}

.img__error {
    margin: 0 auto;
    display: block;
}

.content__error {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-content__error {
    width: 529px;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    text-align: center;
}

.link-content__error {
    margin-top: 33px;
    padding: 8px 32px;
    border-radius: 43px;
    border: 2px solid #FFFFFF;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;  
    color: #fff;
}

.link-content__error:hover {
    background-color: #fff;
    color: #3D5C89;
}

.footer {
    padding: 64px 0 56px 0;
    background-color: #061224;
    color: #fff;
}

.wrapper__footer {
    display: flex;
}

.menu__footer.column-one {
    margin-left: 158px;
    display: flex;
    width: 214px;
    flex-wrap: wrap;
}

.ul-menu__footer.blog-contacts {
    margin-left: 94px;
}

.ul-menu__footer.profile {
    margin-top: 32px;
}

.menu__footer.column-two {
    margin-left: 260px;
    display: flex;
}

.li-menu__footer {
    line-height: 24px;
}

.element-menu__footer {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease;
}

.element-menu__footer:hover {
    opacity: 0.4;
}

.menu__footer.column-two .ul-menu__footer:last-child {
    margin-left: 92px;
}

.li-menu__footer.li-gray {
    margin-top: 6px;
    width: 175px;
}

.li-menu__footer.li-gray:first-child {
    margin-top: 0;
}

.element-menu__footer.el-gray {
    opacity: 0.4;
}

.element-menu__footer.el-gray:hover {
    opacity: 1;
}

.wrapper__footer.bottom{
    margin-top: 16px;
}

.content-logo__footer {
    opacity: 0.4;
    font-size: 12px;
}

.up__footer {
    display: none;
}

.ul-footer__bottom {
    margin-left: 215px;
    display: flex;
    align-items: center;
}

.li-footer__bottom {
    margin-left: 59px;
}

.li-footer__bottom:first-child {
    margin-left: 0;
}

.element-footer__bottom {
    color: #fff;
    opacity: 0.4;
    font-size: 12px;
    transition: all 0.3s ease;
}

.element-footer__bottom:hover {
    opacity: 1;
}

@media screen and (max-width: 1250px) {
    .container {
        width: 1180px;
    }

    .li__header-menu {
        margin-left: 15px;;
    }

    .big-img-content__about-us {
        width: 100%;
    }

    .menu__footer.column-two {
        margin-left: 200px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 970px;
    }

    .header {
        padding-top: 35px;
        background-position: center top;
    }

    .wrapper-header {
        padding-top: 0;
    }

    .ul__header-menu {
        margin-left: 80px;
    }

    .element__header-menu, .element__language {
        font-size: 12px;
    }

    .btn-white.btn-come {
        width: 90px;
        height: 35px;
    }

    .btn-blue.btn-registration {
        width: 150px;
        height: 35px;
        margin-left: 14px;
    }

    .language {
        margin-left: 10px;
    }

    .ul-number {
        margin-left: 80px;
    }

    .li-our {
        padding: 5px;
    }

    .element-our {
        font-size: 12px;
        letter-spacing: 0.1em;
    }

    .ul-our {
        margin-left: 215px;
    }

    .menu__footer {
        flex-direction: column;
    }

    .menu__footer.column-one {
        margin-left: 52px;
    }

    .ul-menu__footer.blog-contacts {
        margin-left: 0;
    }

    .ul-menu__footer.profile {
        margin-top: 0;
    }

    .menu__footer.column-two .ul-menu__footer:last-child {
        margin-left: 0;
    }

    .li-menu__footer {
        line-height: 43px;
    }

    .menu__footer.column-two {
        margin-left: 86px;
    }

    .li-menu__footer.li-gray {
        line-height: 24px;
    }

    .up__footer {
        display: block;
        cursor: pointer;
        margin-left: 62px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .btns-header, .language, .header-menu {
        display: none;
    }

    #sidebar {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 668px;
    }

    .wrapper-header {
        padding-top: 35px;
    }

    .error {
        padding: 97px 0 110px 0;
        background: url(../img/error__img/bg-nlo2.png) no-repeat bottom;
    }

    .img__error {
        width: 531px;
        height: 554px;
    }

    .content__error {
        margin-top: 63px;
    }

    .link-content__error {
        margin-top: 31px;
    }

    .footer .container {
        width: 662px;
    }

    .wrapper__footer.bottom {
        align-items: center;
    }

    .ul-footer__bottom {
        margin-left: 107px;
    }

    .li-footer__bottom:last-child {
        margin-left: 83px;
    }
}

@media screen and (max-width: 710px) {
    .container {
        width: 550px;
    }

    .header {
        padding: 35px 0 0 0;
    }

    .wrapper-header {
        padding: 0;
    }

    .logo {
        width: 91px;
        height: 28px;
    }

    .burger {
        width: 28px;
        height: 24px;
        background-size: contain;
    }

    .footer {
        padding: 29px 0;
    }

    .footer .container {
        width: 550px;
    }

    .menu__footer.column-one {
        margin-left: 20px;
        order: 1;
    }

    .menu__footer.column-two {
        order: 3;
        margin-left: 20px;
    }

    .up__footer {
        order: 2;
        margin-left: 0;
        height: 45px;
    }

    .img-up__footer {
        width: 39px;
        height: 45px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 280px;
    }

    #sidebar {
        width: 320px;
        right: -320px;
        border-radius: 5px 0 0 5px;
    }

    .burger {
        margin-top: 35px;
        right: 340px;
    }

    .arrow__header-menu__sidebar {
        display: block;
    }

    .line__sidebar {
        width: 100%;
    }

    .wrapper-sidebar__btn {
        margin-top: 20px;
        padding: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 116px;
    }

    .btn-white__sidebar, .btn-blue__sidebar {
        width: 100%;
    }

    .error {
        padding: 29px 0 34px 0;
        background: url(../img/error__img/bg-nlo3.png) no-repeat bottom;
    }

    .img__error {
        width: 267px;
        height: 278px;
    }

    .content__error {
        margin-top: 11px;
    }

    .text-content__error {
        width: 250px;
        font-size: 16px;
        line-height: 22px;
    }

    .link-content__error {
        margin-top: 20px;
        padding: 11px 33px;
        font-size: 14px;
    }

    .footer .container {
        width: 280px;
    }

    .wrapper__footer.top {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .menu__footer {
        margin-left: 0;
    }

    .menu__footer.column-one {
        width: 100%;
        margin-left: 0;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ul-menu__footer.blog-contacts {
        margin-left: 97px;
    }

    .menu__footer.column-two {
        margin-left: 0;
    }

    .up__footer {
        margin: 20px 0;
    }

    .ul-footer__bottom {
        margin-left: 59px;
        flex-direction: column;
    }

    .li-footer__bottom:last-child {
        margin-left: 0;
    }
}